
/vendor

#ddev
/config
.env
/web/.htaccess
#customer asset files
/web/assets/*
!/web/assets/.gitkeep
web/cpresources
node_modules/
settings.json
storage
.vscode
package-lock.json
composer.lock
node_modules