# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# jet brains IDE files
.idea
/.idea
/vendor
.DS_Store
/web/cpresources
/storage/config-deltas
/storage/logs
/storage/runtime

#ddev and project files 
/config/project
.env
package-lock.json
.vscode